/*Общие настройк сайта*/

  a {
  	text-decoration: none;
  }

  body {
  	background-color: #020403;; 
  }

/* Панель навигации */
  .navbar>.container-fluid { /* настройка контейнера шапки */
    margin: 0px 20px 0px 20px; 
  }

  #header-nav {
    background-color: #020403;
    border-radius: 0;
    border-bottom: 1px solid #838584;
    text-decoration: none;
  }

  #logo { /* Логотип */
    background: url('../imgs/logo2.png') no-repeat;
    background-size: cover;
    width: 184px;
    height: 75px;
    padding: 5px;
    float: left;  
    margin: 0 25px 5px 0;
  }

  /*  div.navbar-header {
    text-align: center;
  }*/

  #logo2 {
    background: url('../imgs/logoXS.png') no-repeat;
    background-size: cover;
    height: 50px;
    position: absolute;
  }

  .navbar-brand h1 { /* Наименование ресторана */
    font-family: 'Comfortaa', cursive;
    color: #e2e4dc;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px #924f1b;
    clear: right;
  }

  .navbar-dark .navbar-nav .nav-link { /* Цвет выпадающего меню */
    font-family: 'Comfortaa', cursive;
    color: #e2e4dc;
    font-size: 1.2em;
    line-height: 1.3;
    text-shadow: 2px 2px 1px #924f1b;
  }

  .navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #e2e4dc;
    text-decoration: underline;
    text-shadow: 0px 0px 5px #f2a26a;
  }

  li { /*Выпадающее меню - выравнивание по вертикали*/
    margin-top:auto;
    margin-bottom:auto;
  } 

  a#notacart {
    padding-bottom: 1px;
  }

  a#cart {
    padding-top:5px;
  }

  hr#lining { /* Разделительная черта для XS дисплеев */
    background-color: #E0FFFF;
    opacity: .15;
    margin: 0;
  }
  
/* Контент */
  div#maincontent {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  p#heading {
    font-family: 'Comfortaa', cursive;
    color: #E0FFFF;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 12px;
  }

  div#innerbxs {
    position: relative;
  }

  div#Chicken, div#Beef, div#Sushi {
    font-family: 'Comfortaa', cursive;
    color: #e2e4dc;
    float: left;
    padding: 0px 8px 0px 8px;
    margin-top: 15px;
    text-align: justify;
  }

  p#categoryheading {
    position: absolute;
    width:100%;
    height: 35px;
    background-color: #000;
    opacity: .7;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 3px;
    bottom: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  #innerbxs {
    height:100%;
    border-radius: 2px;
  }

  #Chicken > #innerbxs  {
    background: url(../imgs/Меню/soups.jpeg) no-repeat center;
    background-size: cover;
  }

  #Beef > #innerbxs{
    background: url(../imgs/Меню/main.jpg) no-repeat center;
    background-size: cover;
  } 

  #Sushi > #innerbxs {
    background: url(../imgs/Меню/specials.jpg) no-repeat center;
    background-size: cover;
  }

  #innerbxs:hover {
    box-shadow: 0px 0px 10px #924f1b;
  }

  div#prefooter {
    clear: both;
  }

/* Kолонтитул */
  footer {
    background-color: #020403;
    font-family: 'Comfortaa', cursive;
    color: #e2e4dc;
    font-size: 0.9em; 
    border-top: 1px solid #838584;
    clear: both;
    padding-top: 20px;
    margin-top: 40px;
  }

  #copyright {
    font-size:0.8em;
    margin-top: 20px;
  }

  #delivery {
    color: #e2e4dc;
  }

  #testimonials {
    margin: auto 0 auto 0;
    padding-left: 30px;
  }

  #socialmed {
    color: #e2e4dc;
  }

  .bi-whatsapp {
    padding-left: 5px;
  }

  #callus {
    color: #e2e4dc;
  }

  #testimonials p {
    font-family: 'Comfortaa', cursive;
    font-size: 0.8em;
  }

  #testimonials span {
    font-family: 'Comfortaa', cursive;
    font-size: 1.75em;
  }

  a#tel:hover, a#delivery:hover, a#socialmed:hover, a#callus:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px #db8246;
  }

/* Responsiveness options */
  @media (min-width: 1201px) {
    .navbar-brand.brand-lg{
      padding-top:34px;
    }
    h1 { /* высота строки наименования ресторана */
      line-height: 0.62;
    }
    #sstring {
      font-size:0.74em;
    }
    #OrderList {
      margin-left: 30px;
    }
    .bi {
      font-size:1.9em;
      margin-top: 0px;
      padding-bottom: auto;
    }
    a#callus {
      font-size: 2em;
    }
    #Chicken, #Beef, #Sushi {
      height: 230px;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {/* экраны L+ */
    .navbar-brand.brand-lg{
      padding-top:34px;
    }
    /*h1 { /* высота строки наименования ресторана 
      line-height: 0.62;
    }
    #sstring {
      font-size:0.74em;
    }*/
    #OrderList {
      margin-left: 30px;
    }
    .bi {
      font-size:1.9em;
      margin-top: 0px;
      padding-bottom: auto;
    }
    a#callus {
      font-size: 2em;
    }
    #Chicken, #Beef, #Sushi {
      height: 200px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {/* экраны M */
    /*.navbar-brand.brand-md{
      padding-top:28px;
      font-size: 1.1em;
    }
    h1 {  высота строки наименования ресторана 
      line-height: 0.62;
    }
    #sstring {
      font-size:0.74em;
    }*/
    #logo {
      width: 156px;
      height: 65px;
      padding: 0px;
      margin-bottom: 2px;
    }
    .navbar-dark .navbar-nav .nav-link {
      font-size: 1.1em;
    }
    #OrderList {
      margin-left: 15px;
    }
    .bi {
      font-size:1.95em;
      margin-top: 0px;
      padding-bottom: auto;
    }
    a#callus {
      font-size: 1.6em;
    }
    #Chicken, #Beef, #Sushi {
      height: 180px;
    }
  }

  @media (max-width: 767px) {/* экраны SM */
    /*    .navbar-brand.brand-sm {
      padding-top:17px;
      font-size: 1em; 
    }
    .navbar-brand {
      text-align: left;
    }*/
      nav#header-nav {
      padding-bottom: 0px;
    }
    h1 { /* высота строки наименования ресторана */
      line-height: 0.55;
      text-align: center;
    }
    #logo { /* Замена логотипа на вариант для XS версии */
      background: url('../imgs/logo2.png') no-repeat;
      background-size: cover;
      height: 50px;
      width: 115px;
      padding:1px;
      margin:5px 15px 5px;
      height: 50px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    #logo2 { /*пустой рисуноу чтобы не схлопывалась панель навигации*/
      background: url('../imgs/backdrop.png') no-repeat;
      height: 55px;
      width: 80px;
      position: relative;
    }
    .cart {
      font-size: auto;
    }
    .bi {
      font-size: 0em;
    }
    a#notacart {
      padding: 8px;
    }
    a#cart {
      padding: 8px 0 8px 0;
    }
    .bi {
      font-size: 2em;
    }
    section#testimonials {
      padding: 0px 0px 0px 12px;
      text-align: left;
    }
    a#tel {
      color: #e2e4dc;
      font-size: 1.4em;
      padding-top: 0px;
      text-align:left;
    }
    a#callus {
      font-size: 1.4em;
    }
    p#sstring {
      font-size: 0.75em;
      line-height: 0.5;
      margin-bottom: 1px;
      text-align: left;
    }
    #Chicken, #Beef, #Sushi {
      height: 180px;
    }
  }

  @media (max-width: 575px) {/* экраны XS */
    .navbar-brand.brand-sm {
      padding-top:17px;
      font-size: 1em; 
    }
    nav#header-nav {
      padding-bottom: 0px;
    }
    .navbar-brand {
      text-align: left;
    }
    h1 { /* высота строки наименования ресторана */
      line-height: 0.55;
      text-align: center;
    }
    #logo { /* Замена логотипа на вариант для XS версии */
      /*      background: url('../imgs/logo2.png') no-repeat;*/
      /*background-size: cover;*/
      width: 132px;
      height: 55px;
      margin-top: 0px;
      margin-bottom: 7px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    #logo2 { /*пустой рисуноу чтобы не схлопывалась панель навигации*/
      background: url('../imgs/backdrop.png') no-repeat;
      height: 62px;
      width: 80px;
      position: relative;
    }
    .cart {
      font-size: auto;
    }
    .bi {
      font-size: 0em;
    }
    a#notacart {
      padding: 8px;
    }
    a#cart {
      padding: 8px 0 8px 0;
    }
    .bi {
      font-size: 2em;
    }
    section#testimonials {
      padding: 0px 0px 0px 12px;
      text-align: left;
    }
    a#tel {
      color: #e2e4dc;
      font-size: 1.4em;
      padding-top: 0px;
      text-align:left;
    }
    a#callus {
      font-size: 1.4em;
    }
    p#sstring {
      font-size: 0.75em;
      line-height: 0.5;
      margin-bottom: 1px;
      text-align: left;
    }
    #Chicken, #Beef, #Sushi {
      height: 250px;
    }
  }

